#navigation-panel {
    width: 100%;
    height: 50px;
    background-color: #aad8e6;
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
}

#navigation-panel .left {
    width: 10%;
}

#navigation-panel .right {
    width: 10%;
    background-color: #b6ff00;
}

    #navigation-panel #logo {
        background-image: url("../assets/logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }