#navigation-panel {
    background-color: #006688;
    display: flex;
    justify-content: space-between;
    padding: 7px 24px;
}

#navigation-panel .left {
    width: 10%;
}

#navigation-panel .right {
    width: 10%;
    background-color: #b6ff00;
}

#navigation-panel #logo {
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} 