#register {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-image: url('../assets/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-form {
    background-color: #bcdfeb;
    width: 36%;
    height: calc(100vh - 96px);
    border-radius: 4px;
    margin: 24px auto;
    padding: 24px;
}
